PORT=3000
JWT_SECRET=your_secret_here

DB_USER=postgres
DB_HOST=localhost
DB_NAME=portfolio_crm
DB_PASSWORD=postgres
DB_PORT=5432

DATABASE_URL=postgresql://postgres:CszCZmiWviLwKLYzHKSJXjzDeQusvZKY@postgres.railway.internal:5432/railway
NODE_ENV=development